/**
* BEGIN Server Config
*/
if (typeof exports !== "undefined")
{
  exports.mysql = {};
  
  //MYSQL config
  exports.mysql.username = 'username';
  exports.mysql.password = 'password';
  exports.mysql.hostname = 'localhost';
  exports.mysql.database = 'my_db';
  exports.mysql.table = 'users';
} else {
  
/**
* BEGIN Client Config
*/
var defaultServer = "//example.com/game";

}