{
  "client" : {
    "defaultServer" : "//example.com"
  },
  "server" : {
    
    "port" : 3000,
    "enableRedis" : true,
    "enableMysql" : true,
    "enableMongo" : true,
    
    "mongo" : {
      "address" : "mongodb://localhost",
      "location" : "example"
    },
    
    "mysql" : {
      "hostname" : "localhost",
      "username" : "username",
      "password" : "password",
      "database" : "my_db",
      "table"    : "users"
    }
  }
}